# Ignoring Excel files.
*.xlsx

# Ignoring png files.
*.png

# Ignoring pdf files.
*.pdf

# Ignoring svg files.
*.svg

# Ignoring directories.
techincal_dossier/
2T/
2T_160/
3T/
3T_160/
CiappiData/
flu_v-wise/
StarzmannData/

# Ignoring POLARS.xlsx
POLARS/*.xlsx

# Ignoring raw, beta version of the IPython notebook.
Wells_turbine_model_gitignore.ipynb
.ipynb_checkpoints/Wells_turbine_model_gitignore-checkpoint
